[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
boto3 = "*"

pyarrow = "*"
webdriver-manager = "*"
pyyaml = "*"
moto = "*"

[dev-packages]
awscli = "*"
jupyter = "*"
black = "*"
pylint = "*"
coverage = "*"
beautifulsoup4 = "*"
requests = "*"
selenium = "*"
schedule = "*"

[requires]
python_version = "3.10"
