[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
awscli = "*"
jupyter = "*"
boto3 = "*"
schedule = "*"
pyarrow = "*"
beautifulsoup4 = "*"
requests = "*"
selenium = "*"
webdriver-manager = "*"
black = "*"
pyyaml = "*"
pylint = "*"
moto = "*"
coverage = "*"

[dev-packages]

[requires]
python_version = "3.10"
